@charset "UTF-8";

/* Fonts
   ========================================================================== */

@font-face { font-family: "et-book"; src: url("../fonts/et-book/et-book-roman-line-figures/et-book-roman-line-figures.eot"); src: url("../fonts/et-book/et-book-roman-line-figures/et-book-roman-line-figures.eot?#iefix") format("embedded-opentype"), url("../fonts/et-book/et-book-roman-line-figures/et-book-roman-line-figures.woff") format("woff"), url("../fonts/et-book/et-book-roman-line-figures/et-book-roman-line-figures.ttf") format("truetype"), url("../fonts/et-book/et-book-roman-line-figures/et-book-roman-line-figures.svg#etbookromanosf") format("svg"); font-weight: normal; font-style: normal }
@font-face { font-family: "et-book"; src: url("../fonts/et-book/et-book-display-italic-old-style-figures/et-book-display-italic-old-style-figures.eot"); src: url("../fonts/et-book/et-book-display-italic-old-style-figures/et-book-display-italic-old-style-figures.eot?#iefix") format("embedded-opentype"), url("../fonts/et-book/et-book-display-italic-old-style-figures/et-book-display-italic-old-style-figures.woff") format("woff"), url("../fonts/et-book/et-book-display-italic-old-style-figures/et-book-display-italic-old-style-figures.ttf") format("truetype"), url("../fonts/et-book/et-book-display-italic-old-style-figures/et-book-display-italic-old-style-figures.svg#etbookromanosf") format("svg"); font-weight: normal; font-style: italic }
@font-face { font-family: "et-book"; src: url("../fonts/et-book/et-book-bold-line-figures/et-book-bold-line-figures.eot"); src: url("../fonts/et-book/et-book-bold-line-figures/et-book-bold-line-figures.eot?#iefix") format("embedded-opentype"), url("../fonts/et-book/et-book-bold-line-figures/et-book-bold-line-figures.woff") format("woff"), url("../fonts/et-book/et-book-bold-line-figures/et-book-bold-line-figures.ttf") format("truetype"), url("../fonts/et-book/et-book-bold-line-figures/et-book-bold-line-figures.svg#etbookromanosf") format("svg"); font-weight: bold; font-style: normal }

@import url('https://fonts.googleapis.com/css?family=Lato:700');


/* Basic styles
   ========================================================================== */

body { background-color: #faf7f5; font-family: 'et-book', serif; font-weight: 400; font-style: normal; font-size: 1rem; line-height: 1.5; font-kerning: normal; font-variant-ligatures: common-ligatures; text-rendering: optimizeLegibility; }
body.home, body.chapter { border-top: 4px solid #26271E; }
*, *::before, *::after { box-sizing: border-box; }
ul { list-style-type: none; padding:0; margin:0; }
blockquote { margin: 0; font-style: italic; font-size: 2rem; line-height: 130%; margin-bottom: 1.8rem; padding-bottom: 1.8rem; border-bottom: 1px solid #e4e4e2; }
h1, h2, h3, h4, h5, h6 { margin-top: 0; font-weight: normal; }
h1 { font-size: 1.8rem; margin-bottom: 0; }
h2 { font-size: 1.2rem; margin-bottom: 1.0rem; }
h3 { font-size: 1.3rem; font-weight: bold; margin: 0 0 0.5rem 0; text-align: center; text-transform: lowercase; font-variant-caps: small-caps; letter-spacing: 0.05rem; }
h3::before { content: '—'; color: #ccc; padding: 0 0.3rem; }
h3::after { content: '—'; color: #ccc; padding: 0 0.3rem; }
h4 { font-size: 2.0rem; margin: 0rem 0 6rem 0; text-align: center; }
p { font-size: 1.05rem; margin: 0; text-indent: 1.5rem;   text-align: justify; }
/* body.chapter  */.flex-item-2 article p:first-of-type:first-of-type { text-indent: 0; }
.normal { font-weight: normal; }
.hedera { font-family: 'et-book', serif; font-size: 2.5rem; text-align: center; display: block; color: #aaa; margin: 0; }
/* .chapters { text-transform: lowercase; font-variant-caps: small-caps; } */
.chapters em { text-transform: none; font-variant-caps: normal; font-size: 0.8rem; }
#copyright { clear: both; text-align: right; text-indent: 0; margin: 3.5rem 0 0 0; font-family: 'Lato', sans-serif; font-weight: 700;  }
#copyright, #copyright a { font-size: 40% !important; text-transform:uppercase; !important; color: rgba(0, 0, 0, 0.2) !important; letter-spacing: 0.03rem !important; }
#copyright a { border-bottom: 1px solid #ddd; }
#copyright a:hover { color: #000 !important; border-bottom: 1px solid #ccc !important; }
hr { background: transparent; border: 0; margin: 2rem 0 3.5rem 0; padding: 0; }
hr::after { content: '⁂'; display: block; line-height: 1.5; text-align: center; font-size: 100%; }
.smcp { font-variant-caps: small-caps;text-transform: lowercase; font-style: normal; }
.mark { max-width: 50px; max-height: 100%; margin: 3.0rem 0 0 .5rem; }


/* Menu
   ========================================================================== */

#menu { font-family: 'Lato', sans-serif; font-weight: 700; letter-spacing: 0.05rem; margin-top: 58px; width: 100%; font-size: 0.5rem; text-align: center; display: block; }
nav { font-size: 1.25rem; text-align: left !important; padding: 2rem 2rem 10rem 2rem; border-top: 70px solid rgba(0, 0, 0, 0.2); letter-spacing: 0; }
.menu-heading { text-align: left; margin: 1rem 0 2rem 0; }
.credits { font-size: 80%; margin-top: 1.5rem; font-style: italic; }

ul.prev-next { width: 100%; display: block; font-size: 0.9rem; margin: 3.0rem 0 1.5rem 0; height: 1rem; }
ul.prev-next li { display: inline; }
li.prev { float: left; }
li.next { float: right; }
ul.prev-next li a {font-size: 0.8rem; }

.about { margin-bottom: 1rem; }
.acknowledgements { margin-top: 1rem; }
/* Flexbox
   ========================================================================== */

.flex-grid { display: flex; height: 100vh; }
.flex-item { display: flex; width: 50%; height: 100%; }
.flex-item-1 { flex: 0 0 auto; justify-content: center; align-items: center; }
body.home .flex-item-1 { flex-direction:row; }
.cover { text-align: center; display: flex; flex-direction:column; justify-content: center; align-items: center; background: rgba(0, 0, 0, 0.05); height: 95%; width: 95%; }
body.home .flex-item-1 img,
body.chapter .flex-item-1 img { max-width: 227px; max-height: 366px; margin: 0 auto 1.5rem auto; }
.flex-item-2 { flex: 0 0 auto; overflow: auto; justify-content: flex-start; }
/* body.chapter */ .flex-item-2 article p:first-of-type:first-letter { color: #222; float: left; font-size: 5.7rem; line-height: 5.15rem; padding-top: 0px; padding-right: 8px; padding-left: 0px; margin:-1px -5px -10px -5px; text-indent: 0; }
body.home .flex-item-2 { justify-content: center; align-items: center; }
.flex-item-2 article { max-width: 68ch;  padding: 0 50px; }
.flex-item-1 { background: #F6F3F1; border-right: 1px solid #EEEBE9;}
/* .flex-item-2 { border-left: 1px solid #EEEBE9; } */
#info { text-align: justify; font-size: 0.95rem; max-width: 360px; margin: 0 auto; padding: 1.5rem; background: #fff; text-indent: 0; max-width: 68ch; }
body.chapter .flex-item-2 article { margin: 15vh auto auto; padding-bottom: 1vh; }


/* Links, buttons, etc.
   ========================================================================== */

a, a:visited { text-decoration: none; color: #33A0D3; -webkit-transition: all 0.15s ease; -moz-transition: all 0.15s ease; -o-transition: all 0.15s ease; border-bottom: 1px solid #ccc;}
.flex-item-1 a:hover,
.flex-item-2 article a:hover { border-bottom: 1px solid #000; }
.flex-item-1 a:hover,
.flex-item-2 article a:hover, nav a:active { color: #000; text-decoration: none; }
nav a { border: 0; color: #33A0D3; font-weight: bold; }
nav a:hover, nav a:active { color: #222; text-decoration: none; border:0; }

body.chapter #info a { font-family: "Lato", sans-serif; font-weight: 700; font-size: 0.85rem;}
.flex-item-2 a { font-family: 'Lato', sans-serif; font-weight: 700 !important; font-size: 0.94rem; }
.flex-item-2 a:hover, .second-box a:active { color:#000; }
.chapters { color: #ccc; }
button, .button {
font-family: 'Lato', Geneva, 'Lucida Sans', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
font-weight: 700 !important;
font-size: 0.75rem;
color: #fff !important;
background: #A1BB00;
border: 0 !important;
text-transform: uppercase;
letter-spacing: 0.05rem;
margin-top: 0.8rem;
display: inline-block;
text-align: center;
white-space: nowrap;
vertical-align: middle;
-webkit-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
padding: 0.5rem 0.75rem 0.45rem;
line-height: 1.5;
transition: background-color 0.15s ease-in-out;
cursor: pointer; }
button:hover, .button:hover { background: #222; }
.button-2 { margin-left: 0.8rem; }
.chapter-buy { margin-top: 1.5rem; }

nav.prev-next-nav {
	text-align: left !important;
	margin: -15px 0 1rem 0;
	border-top: 0;
	letter-spacing: 0;
	overflow: auto;
	padding: 1rem 1.5rem;
	background: #fff;
}
nav.prev-next-nav a { font-size: 0.85rem; }
nav.prev-next-nav a:hover { margin-bottom: -3px; }
nav.prev-next-nav .toc { clear: both; border-top: 1px solid #EEEBE9; width: 100%; margin-top: 1rem; padding-top: 0; }


/* Pure Drawer CSS
   Developed by Thomas Wilthil https://www.linkedin.com/profile/view?id=21545731
   https://mac81.github.io/pure-drawer/
   https://github.com/mac81/pure-drawer/tree/master/src
   ========================================================================== */

/* Required */
html, body { height: 100%; }
body { margin: 0; }

/* Container */
.pure-container { position: relative; height: 100%; -webkit-overflow-scrolling: touch; }

/* Toggler */
.pure-toggle { left: -9999px; position: absolute; top: -9999px; }
.pure-toggle:focus ~ .pure-toggle-label { color: #A1BB00; }

.pure-toggle-label {
	color: #fff; /* Hamburger text color */
	background: #A1BB00; /* Hamburger bg color */
	display: none; cursor: pointer; display: block; position: fixed; top: -10px; z-index: 99; width: 75px; height: 80px; -webkit-transition: all 0.15s ease-in-out; transition: all 0.15s ease-in-out; border: 0; border-radius: 0; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; -o-user-select: none; user-select: none; -webkit-tap-highlight-color: transparent; }
.pure-toggle-label:hover {
	background: #222; /* Hamburger hover bg color */
	color: #fff; }

.pure-toggle-label:hover .pure-toggle-icon, .pure-toggle-label:hover .pure-toggle-icon:before, .pure-toggle-label:hover .pure-toggle-icon:after { background-color: #fff; }
.pure-toggle-label:active { -webkit-tap-highlight-color: transparent; }
.pure-toggle-label .pure-toggle-icon,
.pure-toggle-label .pure-toggle-icon:before,
.pure-toggle-label .pure-toggle-icon:after { position: absolute; top: 50%; left: 50%; height: 2px; width: 28px; cursor: pointer; background: #fff; /* Hamburger lines */ display: block; content: ''; -webkit-transition: all 300ms ease-in-out; transition: all 300ms ease-in-out; }
.pure-toggle-label .pure-toggle-icon { transform: translate3d(-50%, -2px, 0); -webkit-transform: translate3d(-50%, -2px, 0); }
.pure-toggle-label .pure-toggle-icon:before { transform: translate3d(-50%, -9px, 0); -webkit-transform: translate3d(-50%, -9px, 0); }
.pure-toggle-label .pure-toggle-icon:after { transform: translate3d(-50%, 7px, 0); -webkit-transform: translate3d(-50%, 7px, 0); }
.pure-toggle-label[data-toggle-label='right'] { right: 0; left: auto; }
.pure-toggle[data-toggle='right']:checked ~ .pure-toggle-label:not([data-toggle-label='right']) { opacity: 0; z-index: -1; }
.pure-toggle[data-toggle='right']:checked ~ .pure-toggle-label[data-toggle-label='right'] {
  border-color: #000;
  color: #fff; /* Hamburger text active color */
}
.pure-toggle[data-toggle='right']:checked ~ .pure-toggle-label[data-toggle-label='right'] .pure-toggle-icon { background-color: transparent; }
.pure-toggle[data-toggle='right']:checked ~ .pure-toggle-label[data-toggle-label='right'] .pure-toggle-icon:before,
.pure-toggle[data-toggle='right']:checked ~ .pure-toggle-label[data-toggle-label='right'] .pure-toggle-icon:after { top: 0; }
.pure-toggle[data-toggle='right']:checked ~ .pure-toggle-label[data-toggle-label='right'] .pure-toggle-icon:before { transform: translateX(-50%) rotate(45deg); -webkit-transform: translateX(-50%) rotate(45deg); }
.pure-toggle[data-toggle='right']:checked ~ .pure-toggle-label[data-toggle-label='right'] .pure-toggle-icon:after { transform: translateX(-50%) translateY(-10px) rotate(-45deg); -webkit-transform: translateX(-50%) translateY(-10px) rotate(-45deg); top: 10px; }

/* Drawer */

.pure-drawer {
  overflow: scroll;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  height: 100%;
  visibility: hidden;
  background-color: rgba(255, 255, 255, 0.4);
  -webkit-transition-property: all;
          transition-property: all;
  -webkit-transition-duration: 500ms;
          transition-duration: 500ms;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
  width: 100%;
}

@media only screen and (min-width: 40.063em) {
  .pure-drawer {
    width: 300px;
  }
}

@media only screen and (min-width: 64.063em) {
  .pure-drawer {
    width: 300px;
  }
}

.pure-drawer[data-position='right'] {
  left: auto;
  right: 0;
}

/* Pusher Container */
.pure-pusher-container { position: relative; height: 100%; overflow: hidden; }

/* Pusher */
.pure-pusher {
  position: relative;
  height: 100%;
  overflow-y: auto;
  left: 0;
  z-index: 2;
  background-color: transparent;
  -webkit-transition-property: -webkit-transform;
          transition-property: transform;
  -webkit-transition-duration: 500ms;
          transition-duration: 500ms;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
}

/* Pusher Overlay */
.pure-overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  width: 0;
  height: 0;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.75);
  -webkit-transition-property: opacity;
          transition-property: opacity;
  -webkit-transition-duration: 200ms;
          transition-duration: 200ms;
  -webkit-transition-delay: 200ms;
          transition-delay: 200ms;
  -webkit-transition-timing-function: ease-in-out;
          transition-timing-function: ease-in-out;
}

.pure-toggle[data-toggle='right']:checked ~ .pure-overlay[data-overlay='right'] { right: 100%; }

@media only screen and (min-width: 40.063em) {
  .pure-toggle[data-toggle='right']:checked ~ .pure-overlay[data-overlay='right'] {
    right: 300px;
  }
}

@media only screen and (min-width: 64.063em) {
  .pure-toggle[data-toggle='right']:checked ~ .pure-overlay[data-overlay='right'] {
    right: 300px;
  }
}

.pure-toggle[data-toggle='right']:checked ~ .pure-overlay[data-overlay='right'] { width: 100%; height: 100%; opacity: 1; z-index: 2; }

/* Fallback for older browsers */
.no-csstransforms3d .pure-toggle[data-toggle='right']:checked ~ .pure-pusher-container .pure-pusher { left: -100%; }

@media only screen and (min-width: 40.063em) {
  .no-csstransforms3d .pure-toggle[data-toggle='right']:checked ~ .pure-pusher-container .pure-pusher {
    left: -300px;
  }
}

@media only screen and (min-width: 64.063em) {
  .no-csstransforms3d .pure-toggle[data-toggle='right']:checked ~ .pure-pusher-container .pure-pusher {
    left: -300px;
  }
}

/* Effect - Push */
/* DRAWER */
[data-effect='pure-effect-push'] .pure-drawer { -webkit-transition-duration: 325ms; transition-duration: 325ms; }
[data-effect='pure-effect-push'] .pure-drawer[data-position='right'] { -webkit-transform: translate3d(100%, 0, 0); transform: translate3d(100%, 0, 0); }
[data-effect='pure-effect-push'] .pure-toggle[data-toggle='right']:checked ~ .pure-drawer[data-position='right'] { visibility: visible; -webkit-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0); }

/* PUSHER */
[data-effect='pure-effect-push'] .pure-pusher-container .pure-pusher { -webkit-transition-duration: 450ms; transition-duration: 450ms; }
[data-effect='pure-effect-push'] .pure-toggle[data-toggle='right']:checked ~ .pure-pusher-container .pure-pusher { -webkit-transform: translate3d(-100%, 0, 0); transform: translate3d(-100%, 0, 0); }

@media only screen and (min-width: 40.063em) {
  [data-effect='pure-effect-push'] .pure-toggle[data-toggle='right']:checked ~ .pure-pusher-container .pure-pusher {
    -webkit-transform: translate3d(-300px, 0, 0);
    transform: translate3d(-300px, 0, 0);
  }
}

@media only screen and (min-width: 64.063em) {
  [data-effect='pure-effect-push'] .pure-toggle[data-toggle='right']:checked ~ .pure-pusher-container .pure-pusher {
    -webkit-transform: translate3d(-300px, 0, 0);
    transform: translate3d(-300px, 0, 0);
  }
}

/* OVERLAY */
[data-effect='pure-effect-push'] .pure-overlay {
  -webkit-transition-duration: 500ms;
          transition-duration: 500ms;
  -webkit-transition-delay: 250ms;
          transition-delay: 250ms;
}


/* @media
   ========================================================================== */

.sm-res { display: none; }
.lg-res { display: block; }

@media screen and (prefers-reduced-motion: reduce) {
  a, button {
    transition: none;
  }
}

@media (min-width: 1200px) {
/* To do: add vw value for body and article width here to create legible text and layout at large screen sizes */
}

@media (max-width: 1100px) {
.flex-item-2 article blockquote { font-size: 2.2rem; }
}

@media (max-width: 992px) {
.sm-res { display: block; }
.lg-res { display: none; }

h3.sm-res { font-size: 1.5rem; margin: 0; }
h4.sm-res { font-size: 1.25rem; margin: 0; }

.flex-grid { flex-direction: column; }
.flex-item { width: 100%; }
body.home .flex-item-1 { justify-content: center; }
.flex-item-1 { border:1rem solid #fff; justify-content: center; align-items: center; background: #efaf7f5;
-webkit-box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.2);
-moz-box-shadow:    0px 0px 40px 0px rgba(0, 0, 0, 0.2);
box-shadow:         0px 0px 40px 0px rgba(0, 0, 0, 0.2);}
.flex-item-1 img { }
.flex-item-2 { align-items: center; padding-top: 50px; overflow: visible; }
.flex-item-2 article { margin: 0 auto; padding-bottom: 50px; }
body.chapter .flex-item-2 article { margin: 10vh auto auto auto; padding-bottom: 10vh; }

.pure-drawer {  background-color: rgba(255, 255, 255, 1.0); }
}

@media (max-width: 600px) {
.cover { display: block; text-align: center; background: none; border: none; display:flex; flex-direction:column; align-items: center; justify-content: center; }
.cover button { margin-bottom: 0; }
.cover img { margin-top: 0; display: inline-block; min-width: 13vw; }
.cover h1 { margin: 0; }
.cover {
-webkit-box-shadow: none;
-moz-box-shadow:    none;
box-shadow:         none;
}
}

@media (max-width: 414px) {
.flex-item-2 article blockquote { font-size: 1.6rem; }

/* Menu button */
.pure-toggle-label { width: 55px; height: 65px; }
.pure-toggle-label .pure-toggle-icon, .pure-toggle-label .pure-toggle-icon:before, .pure-toggle-label .pure-toggle-icon:after { width: 24px; }
.pure-toggle-label .pure-toggle-icon:before { transfrom: translate3d(-50%, -9px, 0); -webkit-transform: translate3d(-50%, -9px, 0); }
.pure-toggle-label .pure-toggle-icon:after { transform: translate3d(-50%, 7px, 0); -webkit-transform: translate3d(-50%, 7px, 0); }
#menu { font-size: 8px; letter-spacing: 0.02rem; margin-top: 47px; width: 55px; }
nav { border-top: 55px solid #e4e4e2; }
}

@media (max-width: 375px) {
.flex-item-2 { padding-top: 10rem; }
.flex-item-2 article blockquote { font-size: 1.4rem; line-height: 1.7rem;}
h1 { font-size: 1.5rem; }
}

@media (max-width: 320px) {
.flex-item-2 { padding: 12rem 0 0 0; }
.flex-item-2 article { padding:2rem; }
.flex-item-2 article blockquote { font-size: 1.2rem; line-height: 1.7rem;}
h1 { font-size: 1.5rem; }
}
