// "This is a work in progress" information box

#info {
  text-align: justify;
  font-size: 0.95rem;
  max-width: 360px;
  margin: 0 auto;
  padding: 1.5rem;
  background: $white;
  text-indent: 0;
  max-width: 68ch;
}
