				<img class="mark" src="{{ "/images/bird_02.png" | prepend: site.baseurl }}" alt="Wednesday the Raven cover">

				<p id="info">This is a work in progress, and to keep track of things you can <a href="https://mailchi.mp/f277c9e1aba1/wednesday-the-raven-updates" target="_blank">subscribe</a> to the update notifications. Readers are also encouraged to submit suggestions &amp; edits through the <a href="https://github.com/unlikelyobjects/wednesday-the-raven" target="_blank">Github repository</a> (or old school <a href="mailto:hello@unlikelyobjects.com" title="Send email">email</a>). Questions? Check the <a href="#">project announcement</a> page for more information.

				<p id="copyright">&copy; 2018 Colin Lewis &middot; Brought to you by <a href="https://unlikelyobjects.com" title="Unlikely Objects" target="blank">Unlikely Objects</a></p>

				</article>


			</div>
		</div><!-- /.pure-pusher -->
	</div><!-- /.pure-pusher-container -->

	<label class="pure-overlay" for="pure-toggle-right" data-overlay="right"></label>
</div>
