<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="utf-8">
		<meta http-equiv="x-ua-compatible" content="ie=edge">
		<title>{{ page.title }}</title>
		<meta name="description" content="A children's novel by Colin Lewis about birds and cake and things that are lost and remembering how to fly.">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

		<!--<link rel="icon" type="image/png" href="/favicon.png">-->

		<!-- ADD OPEN GRAPH, TWITTER CARD, ETC. https://webcode.tools -->

		<link rel="stylesheet" href="{{ "/css/normalize.css" | prepend: site.baseurl }}">
		<link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">

		<!-- Global site tag (gtag.js) - Google Analytics -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=UA-108072006-1"></script>
		<script>
			window.dataLayer = window.dataLayer || [];

			function gtag() {
				dataLayer.push(arguments);
			}
			gtag('js', new Date());

			gtag('config', 'UA-108072006-1');
		</script>

	</head>