<div class="pure-container" data-effect="pure-effect-push">
	<input type="checkbox" id="pure-toggle-right" class="pure-toggle" data-toggle="right" />
		<label class="pure-toggle-label" for="pure-toggle-right" data-toggle-label="right">
			<span class="pure-toggle-icon"> </span>
			<span id="menu">CONTENTS</span>
		</label>

	<nav class="pure-drawer" data-position="right">
		<h4 class="menu-heading">Table of contents</h3>
		<ul class="chapters">
      <li class="about"> <a href="/">About this project</a></li>
		  <li class=""><a href="{{ "/chapter-01/" | prepend: site.baseurl }}">Chapter One</a></li>
			<li class=""><a href="{{ "/chapter-02/" | prepend: site.baseurl }}">Chapter Two</a></li>
			<li class=""><a href="{{ "/chapter-03/" | prepend: site.baseurl }}">Chapter Three</a></li>
			<li class=""><a href="{{ "/chapter-04/" | prepend: site.baseurl }}">Chapter Four</a></li>
			<li class=""><a href="{{ "/chapter-05/" | prepend: site.baseurl }}">Chapter Five</a></li>
			<li class=""><a href="{{ "/chapter-06/" | prepend: site.baseurl }}">Chapter Six</a></li>
			<li class=""><a href="{{ "/chapter-07/" | prepend: site.baseurl }}">Chapter Seven</a></li>
			<li class=""><a href="{{ "/chapter-08/" | prepend: site.baseurl }}">Chapter Eight</a></li>
			<li class=""><a href="{{ "/chapter-09/" | prepend: site.baseurl }}">Chapter Nine</a></li>
			<li class="disabled"> Chapter Ten </li>
			<li class="disabled"> Chapter Eleven</li>
			<li class="disabled"> Chapter Twelve</li>
			<li class="disabled"> Chapter Thirteen</li>
			<li class="disabled"> Chapter Fourteen</li>
			<li class="disabled"> Chapter Fifteen</li>
			<li class="disabled"> Chapter Sixteen</li>
			<li class="disabled"> Chapter Seventeen</li>
			<li class="disabled"> Chapter Eighteen</li>
			<li class="disabled"> Chapter Nineteen</li>
			<li class="disabled"> Chapter Twenty</li>
			<li class="disabled"> Chapter Twenty-one</li>
			<li class="disabled"> Chapter Twenty-two</li>
			<li class="disabled"> Chapter Twenty-three</li>
			<li class="disabled"> Chapter Twenty-four</li>
			<li class="disabled"> Chapter Twenty-five</li>
			<li class="disabled"> Chapter Twenty-six</li>
			<li class="disabled"> Chapter Twenty-seven</li>
			<li class="disabled"> Chapter Twenty-eight</li>
			<li class="disabled"> Chapter Twenty-nine</li>
			<li class="disabled"> Chapter Thirty</li>
      <li class="disabled acknowledgements"> Acknowledgements</li>
      <li class="disabled"> Colophon</li>
		</ul>
	</nav>
