// -----------------------------------------------------------------------------
// This file contains very basic styles.
// -----------------------------------------------------------------------------

html {
  box-sizing: border-box;
  // font-size: 62.5%; // make 1 rem = 62.5% of default font size, i.e. 10px
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  // border: 1rem solid $white;
  background-color: $off-white-1;
}

a,
a:visited {
  text-decoration: none;
  color: $anchor-color;
  transition: all 0.15s ease;
  border-bottom: 1px solid $light-grey-4;
}

a:hover,
a:active,
a:focus {
  color: $black;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.block {
  display: block;
}

@media screen and (prefers-reduced-motion: reduce) {
  a,
  button,
  .button {
    transition: none;
  }
}
