/**
 * Basic typography style for copy text
 */

body {
  color: $text-color;
  font-family: $serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1rem;
  line-height: 1.5;
  font-kerning: normal;
  font-variant-ligatures: common-ligatures;
  text-rendering: optimizeLegibility;
}

blockquote {
  margin: 0;
  font-style: italic;
  font-size: 2rem;
  line-height: 130%;
  margin-bottom: 1.8rem;
  padding-bottom: 1.8rem;
  border-bottom: 1px solid $light-grey-2;
}

h1,
h2,
h3,
h4 {
  margin-top: 0;
  font-weight: normal;
}

h1 {
  font-size: 1.8rem;
  margin-bottom: 0;
}

@media (max-width: 375px) {
  h1 {
    font-size: 1.5rem;
  }
}

h2 {
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

h3 {
  font-size: 1.3rem;
  font-weight: bold;
  margin: 0 0 0.5rem 0;
  text-align: center;
  text-transform: lowercase;
  font-variant-caps: small-caps;
  letter-spacing: 0.05rem;

  &::before {
    content: "—";
    color: $light-grey-4;
    padding: 0 0.3rem;
  }

  &::after {
    content: "—";
    color: $light-grey-4;
    padding: 0 0.3rem;
  }
}

h4 {
  font-size: 2rem;
  margin: 0rem 0 6rem 0;
  text-align: center;
}

p {
  font-size: 1.05rem;
  margin: 0;
  text-indent: 1.5rem;
  text-align: justify;
}

.normal {
  font-weight: normal;
}

.hedera {
  font-family: $serif;
  font-size: 2.5rem;
  text-align: center;
  display: block;
  color: $light-grey-5;
  margin: 0;
}

// .chapters { text-transform: lowercase; font-variant-caps: small-caps; }

.chapters em {
  text-transform: none;
  font-variant-caps: normal;
  font-size: 0.8rem;
}

#copyright {
  clear: both;
  text-align: right;
  text-indent: 0;
  margin: 3.5rem 0 0.5rem 0;
  font-family: $sans;
  font-weight: 700;

  a {
    border-bottom: 1px solid $light-grey-3;

    @include on-event {
      color: $black !important;
      border-bottom: 1px solid $light-grey-4 !important;
    }
  }
}

#copyright,
#copyright a {
  font-size: 40% !important;
  text-transform: uppercase !important;
  color: rgba($black, 0.2) !important;
  letter-spacing: 0.03rem !important;
}

// Asterism
hr {
  background: transparent;
  border: 0;
  margin: 2rem 0 3.5rem 0;
  padding: 0;

  &::after {
    content: "⁂"; // insert asterism
    display: block;
    line-height: 1.5;
    text-align: center;
    font-size: 100%;
  }
}

// Small-caps
.smcp {
  font-variant-caps: small-caps;
  text-transform: lowercase;
  font-style: normal;
}

.mark {
  max-width: 50px;
  max-height: 100%;
  margin: 3rem 0 0 0.5rem;
}

.center {
  text-align: center;
}

// Drop cap
.flex-item-2 {
  article {
    p:first-of-type {
      text-indent: 0;

      &:first-letter {
        color: $text-color;
        float: left;
        font-size: 5.7rem;
        line-height: 5.15rem;
        padding-top: 0px;
        padding-right: 8px;
        padding-left: 0px;
        margin: -1px -5px -10px -5px;
        text-indent: 0;
      }
    }
  }
}

// Remove drop cap styles for ol
.flex-item-2 {
  article {
    ol {
      li {
        p:first-of-type {
          &first-letter {
            color: default;
            float: none;
            font-size: 1.05rem;
            line-height: 1.5;
            padding: 0;
            margin: 0;
            text-indent: none;
          }
        }
      }
    }
  }
}
